@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('image/Fondotimba2.jpg');
    background-color: #1f1f1f;
    background-size: cover;
    background-position: center;
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px; 
}

.container {
    text-align: center;
    background-color: #1f1f1f;
    padding: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 0 5rem #02aa56;
    width: 100%;
    max-width: 500px;
}

.logo {
    width: 100%;
    max-width: 160px;
    margin-bottom: 0.25rem;
}

h2, h3 {
    color: white;
    margin-bottom: 0.5rem;
}

form {
    margin-top: 1rem;
}


button{
    background:#02aa56;
    font-family: Arial, sans-serif;
    font-style: bold;
    color:white;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:500ms ease all;
    outline:none;
    border-radius: 1rem;
  }
  button:hover{
    background:#1f1f1f;
    color:#02aa56;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #02aa56;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:500ms ease all;
  }

.minimo {
    margin-top: 1rem;
    color: #888;
    font-size: 0.875rem; 
}

.testh2 {
    padding-bottom: 9px;
}

@media (max-width: 768px) {
    body {
        padding: 0 10px; 
    }

    .container {
        padding: 1rem;
    }

    .button {
        font-size: 1.25rem; 
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 25%; 
        max-width: 80px;
    }

    .button {
        font-size: 1rem; 
        padding: 0.5rem;
    }

    h2, h3 {
        font-size: 1.2em; 
    }

    input[type="text"] {
        padding: 0.5rem; 
    }
}
